name: CI

on:
  push:
    branches: [ main ]
  pull_request:
  pull_request_target:

jobs:
  format:
    if: ${{ github.event_name == 'push' || github.event_name == 'pull_request' && !github.event.pull_request.head.repo.fork || github.event_name == 'pull_request_target' && github.event.pull_request.head.repo.fork}} 
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout PR
        if: ${{ github.event_name == 'pull_request' || github.event_name == 'pull_request_target'}} 
        uses: actions/checkout@master
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Checkout
        if: ${{ github.event_name == 'push' }}
        uses: actions/checkout@master
      
      - name: Install tools
        run: |
          sudo apt update && sudo apt install clang-format-13
      
      - name: Check formatting
        run: |
          make check_format

  build-gba:
    if: ${{ github.event_name == 'push' || github.event_name == 'pull_request' && !github.event.pull_request.head.repo.fork || github.event_name == 'pull_request_target' && github.event.pull_request.head.repo.fork}} 
    runs-on: ubuntu-22.04
    name: Build GBA (Europe)
    steps:
      - name: Checkout PR
        if: ${{ github.event_name == 'pull_request' || github.event_name == 'pull_request_target'}} 
        uses: actions/checkout@master
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Checkout
        if: ${{ github.event_name == 'push' }}
        uses: actions/checkout@master
       
      - name: Checkout gh-pages
        if: ${{ github.event_name == 'push' }}
        uses: actions/checkout@master
        with:
          path: gh-pages
          ref: gh-pages

      - name: Checkout agbcc
        uses: actions/checkout@master
        with:
          path: agbcc
          repository: SAT-R/agbcc

      - name: Install tools
        run: |
          sudo apt update && sudo apt install gcc-arm-none-eabi binutils-arm-none-eabi
          python3 -m pip install gitpython

      - name: Install agbcc
        run: |
          ./build.sh
          ./install.sh ../
        working-directory: agbcc
        
      - name: Fetch assets
        run: curl -o baserom_sa1.gba -u ${{ secrets.STORAGE_USERNAME }}:${{ secrets.STORAGE_PASSWORD }} ${{ secrets.STORAGE_URL }}/baserom.gba

      - name: Compare
        run: make -j${nproc}

      - name: Progress
        run: |
          python3 scripts/progress.py text

      - name: Generate reports
        if: ${{ github.event_name == 'push' }}
        run: |
          mkdir -p gh-pages/reports
          mkdir -p gh-pages/maps
          python3 scripts/progress.py csv >> gh-pages/reports/progress-sa1-nonmatching.csv
          python3 scripts/progress.py csv -m >> gh-pages/reports/progress-sa1-matching.csv
          python3 scripts/progress.py shield-json > gh-pages/reports/progress-sa1-shield.json
          python3 scripts/progress.py shield-json -m > gh-pages/reports/progress-sa1-shield-matching.json
          echo "REPORTS_COMMIT_MSG=$( git log --format=%s ${GITHUB_SHA} )" >> $GITHUB_ENV
          cp sa1.map gh-pages/maps/${GITHUB_SHA}.map

      - name: Update reports
        if: ${{ github.event_name == 'push' }}
        uses: EndBug/add-and-commit@v7
        with:
          branch: gh-pages
          cwd: "./gh-pages"
          add: "reports maps"
          message: ${{ env.REPORTS_COMMIT_MSG }}

#
# Space for other regional variants
#

  ports:
    strategy:
      matrix: 
        platform: ["sdl", "sdl_win32", "win32"]
        os: ["ubuntu-22.04", "macos-15"]
    if: ${{ github.event_name == 'push' || github.event_name == 'pull_request' && !github.event.pull_request.head.repo.fork || github.event_name == 'pull_request_target' && github.event.pull_request.head.repo.fork}} 
    runs-on: ${{ matrix.os }}
    name: Build ${{ matrix.platform }} (${{ matrix.os }})
    steps:
      - name: Checkout PR
        if: ${{ github.event_name == 'pull_request' || github.event_name == 'pull_request_target'}} 
        uses: actions/checkout@master
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Checkout
        if: ${{ github.event_name == 'push' }}
        uses: actions/checkout@master

      - name: Install tools (Linux)
        if: ${{ matrix.os == 'ubuntu-22.04' }}
        run: |
          sudo apt update && sudo apt install xorg-dev libsdl2-dev gcc-mingw-w64 libarchive-tools

      - name: Install Tools (Macos)
        if: ${{ matrix.os == 'macos-15' }}
        run: |
          brew install libpng sdl2 mingw-w64 arm-none-eabi-gcc
  
      - name: Install SDL for win32
        if: ${{ matrix.platform == 'sdl_win32' }}
        run: |
          make SDL2.dll
  
      - name: Fetch assets
        run: curl -o baserom_sa1.gba -u ${{ secrets.STORAGE_USERNAME }}:${{ secrets.STORAGE_PASSWORD }} ${{ secrets.STORAGE_URL }}/baserom.gba

      - name: ${{ matrix.platform }}
        run: |
          make -j${nproc} ${{ matrix.platform }}

#
# Space for TAS test
#

  level_editor:
    if: ${{ github.event_name == 'push' || github.event_name == 'pull_request' && !github.event.pull_request.head.repo.fork || github.event_name == 'pull_request_target' && github.event.pull_request.head.repo.fork}} 
    runs-on: ubuntu-22.04
    name: Level editor (BriBaSA)
    steps:
      - name: Checkout PR
        if: ${{ github.event_name == 'pull_request' || github.event_name == 'pull_request_target'}} 
        uses: actions/checkout@master
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Checkout
        if: ${{ github.event_name == 'push' }}
        uses: actions/checkout@master

      - name: Install deps
        run: |
          sudo apt update && sudo apt install xorg-dev libsdl2-dev
  
      - name: Build
        run: |
          make -j${nproc} bribasa
